<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', { pageTitle: 'Configuración | DevUtils' }) %>

<body>
  <%- include('partials/loading') %>
  <%- include('partials/navbar', { activePage: 'app_config' }) %>
  <main class="container py-4">
    <%- include('partials/app_config_content') %>
  </main>
  <%- include('partials/foot') %>
</body>

</html>
